*{
box-sizing:border-box;
}


body{

margin:0;

background:
linear-gradient(
135deg,
#050505,
#111827
);

color:#ffffff;

font-family:Inter,Arial,sans-serif;

}



header{

text-align:center;

padding:40px 20px;

}



h1{

font-family:Orbitron;

font-size:42px;

color:#d4af37;

}


h2{

font-weight:400;

color:#cccccc;

}



section{

width:90%;

max-width:900px;

margin:25px auto;

background:

rgba(255,255,255,0.05);

border:1px solid rgba(212,175,55,0.3);

border-radius:18px;

padding:25px;

box-shadow:
0 0 25px rgba(0,0,0,0.5);

}



h3{

color:#d4af37;

}



.status-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(180px,1fr));

gap:20px;

}



.status-grid div{

background:#111827;

padding:20px;

border-radius:12px;

}



.status-grid span{

display:block;

color:#aaa;

}



.status-grid strong{

font-size:22px;

color:#00ff99;

}



.clock-card{

text-align:center;

}



#clock{

font-family:Orbitron;

font-size:55px;

color:#d4af37;

}



#date{

font-size:20px;

}



input{

width:70%;

padding:15px;

border-radius:10px;

border:none;

font-size:18px;

}



button{

padding:15px 30px;

background:#d4af37;

border:none;

border-radius:10px;

cursor:pointer;

font-weight:bold;

}



button:hover{

background:#ffd700;

}



pre{

background:#020617;

padding:25px;

border-radius:15px;

overflow:auto;

color:#00ff99;

font-family:
"Courier New",monospace;

font-size:16px;

}



footer{

text-align:center;

padding:30px;

color:#999;

}
